@import '../../Constants/variables.scss';

.Button {
  button {
    font-family: 'impact';
    font-weight: 800;
    font-size: 24px;
    color: $color;
    padding: 0;
    text-shadow: none;
    text-transform: uppercase;
    background-color: $primaryColor;
    border: none;
    border-radius: 3px;
    padding: 0.7em;
    cursor: pointer;
  }
}
