$backGroundColor: #000000;
$primaryColor: #A029FF;
$secondaryColor: #B451FC;
$altColor: #FFA7FF;
$contrast: #5000FF;
$color: white;
$colorComplementary: #99fc51;
$fontFamily: 'obviously-narrow','Helvetica',sans-serif;
$navBarHeight: 120px;

:export {
    background: $backGroundColor;
    primary: $primaryColor;
    secondary: $secondaryColor;
    altColor: $altColor;
    contrast: $contrast;
    color: $color;
    fontFamily: $fontFamily;
    navBarHeight: $navBarHeight;
}