.ContactPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    flex-direction: column;
    .title{
        font-size: 5em;
        margin-bottom: 1rem;
        font-family: 'methanerse' , sans-serif;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 3px solid white;
    }
    .contentContact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        font-size: 1em;
        width: 100%;
        .subTitle{
            font-family: 'rollbox' , sans-serif;
            font-weight: 600;
        }
        .leftBox{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 50%;
        }
        .rightBox{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
        }
    }
}