@import '../../Constants/variables.scss';

.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 600px;
    background-color: $contrast;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
        .titleCard{
            display: none;
        }
        .contentCard{
            display: block;
        }
        img{
            filter: blur(5px) brightness(0.5);
        }
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    .titleCard{
        position: absolute;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 10px 0;
        max-width: 90%;
        font-family: 'methanerse', 'Helvetica', sans-serif;
    }
    .contentCard{
        display: none;
        position: absolute;
        font-size: 1rem;
        font-weight: 400;
        margin: 10px 0;
        max-width: 90%;
        font-family: 'rollbox', 'Helvetica', sans-serif;
    }
}