@import '/src/Constants/variables.scss';

@font-face {
  font-family: 'rollbox';
  src: url('../public/font/rollbox-font/RollboxRegular-jE2lv.ttf') format('truetype'),
    url('../public/font/rollbox-font/RollboxExtraBold-3zV4X.ttf') format('truetype');
}

@font-face {
  font-family: 'methanerse';
  src: url('../public/font/methanerse-font/MethanerseFreeTrial-eZX7x.ttf') format('truetype');
}

body {
  background-color: $backGroundColor;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 5px; 
  background-color: white;
  border-radius: 15px;
}